.menu-subcontainer {
    height: 0vh;
    position: sticky;
    top: 0px;
}
.corner-buttons-container {
    background-color: #70adbf00;
    height: 0;
}
.corner-buttons {
    display: flex;
    position: relative;
    background-color: #70adbf00;
    padding: 15px;
    flex-wrap: wrap;
}
.corner-button {
    font-family: Univers Bold;
    margin: 0 0;
    background-color: #70adbf00;
    color: #ffffff89;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.corner-button.index {
    top: 15px;
    right: 15px;
    position: fixed;
    z-index: 1;
}
.arrows-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.arrow {
    font-family: Univers Bold;
    font-size: 30px;
    color: #ffffff89;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}
.arrow:hover {
    color: white;
}
.arrow.disabled {
    cursor: not-allowed;
    color: #ffffff31;
}
.arrow.disabled:hover {
    color: #ffffff31;
}
.arrow.black {
    font-family: Univers Bold;
    font-size: 30px;
    color: #898989;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}
.arrow.black:hover {
    color: black;
}
.arrow.black.disabled {
    cursor: not-allowed;
    color: #89898932;
}
.arrow.black.disabled:hover {
    color: #89898932;
}
.corner-button:hover {
    color: white;
}
.show-menu {
    position: fixed;
    color: #ffffff89;
    cursor: pointer;
    left: 50%;
    top: 12px;
    font-size: 26px;
    z-index: 1;
}
.show-menu:hover {
    color: white;
}
.edit {
    position:fixed;
    color: #ffffff89;
    cursor: pointer;
    left: 50%;
    top: calc(100vh - 43px);
    font-size: 24px;
}
.edit:hover {
    color: white;
}
.username-logout-container {
    height: 0;
}
.username-logout {
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 1;
}
.logout-button {
    font-family: Univers Regular;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff89;
    z-index: 1;
}
.logout-button:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.username {
    color: #ffffff89;
    font-family: Univers Regular;
}
.username:hover {
    color: white;
}
.corner-button.username.black {
    color: #0000006e;
    font-family: Univers Regular;
}
.corner-button.username.black:hover {
    color: black;
}
.logout-button.black {
    font-family: Univers Regular;
    font-size: 16px;
    cursor: pointer;
    color: #0000006e;
}
.logout-button.black:hover {
    color: #000000;
}