.edit-container {
    position:fixed;
    right: 15px;
    top: calc(100vh - 68px);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}
.edit-options-container {
    height: 50px;
}
.edit-options {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    gap: 3px;
}
.edit-option {
    font-family: Univers Regular;
    font-size: 16px;
    cursor: pointer;
    color: #afcbd3;
}
.edit-option:hover {
    color: #70ACBF;
    text-decoration: underline;
}
.edit-button {
    position:fixed;
    cursor: pointer;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    background-color: #70ACBF;
    border: 2px solid #70ACBF;
    top: calc(100vh - 68px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus {
    background-color: #70adbf00;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 0 0;
    padding: 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
    cursor: pointer;
}




.popup-content {
    background-color: #00000000;
    border: none;
    margin: 0;
    padding: 0;
    width: 80vw;
}
.upload-new-cool {
    background-color: white;
    margin: 0 0 1vh 0;
    font-family: Windsor;
    font-size: 46px;
    color: black;
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    text-align: center;
}
.index-page-center {
    background-color: #00000000;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.inputs {
    margin-top: 2vh;
    background-color: white;
    width: 80%;
}
.upload-form {
    background-color: white;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78vh;
    width: 80vw;
}
.upload-button {
    background-color:white;
    color: #0000007f;
    border: 2px solid #0000007f;
    border-radius: 2px;
    font-family: Univers Bold;
    font-size: 18px;
    height: 38px;
    width: 110px;
    text-align: center;
    cursor: pointer;
    margin-top: 2vh;
}
.upload-button:hover {
    background-color: #70ACBF;
    color: white;
    border: 2px solid #70ACBF;
}
.upload-new-label {
    color: black;
    font-family: Univers Bold;
    margin-bottom: 4px;
    font-size: 16px;
    background-color: white;
    text-align: left;
}
textarea {
    border: 2px solid #0000007f;
    border-radius: 2px;
    font-family: Univers Regular;
    font-size: 14px;
}
select {
    background-color: white;
    font-family: Windsor;
    font-size: 24px;
    color: black;
    border-radius: 2px;
    padding: 5px;
    width: calc(100% + 5px);
}
.upload-new-input {
    background-color: white;
    font-size: 14px;
    color: black;
    border: 1px solid #0000007f;
    width: 100%;
}
#upload-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px dashed #0000007f;
    padding: 5px;
    width: calc(100% - 5px);
}
.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
}
.close {
    background-color: white;
    color: black;
    margin-top: 3vh;
    cursor: pointer;
    font-size: 14px;
}
.close:hover {
    color: #0000007f;
    text-decoration: underline;
}