.Edit {
    background-color: #00000000;
}
.modal {
    background-color: #00000000;
}
.edit-container {
    position:fixed;
    right: 15px;
    top: calc(100vh - 68px);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    background-color: rgba(255, 0, 0, 0);
}
.edit-subcontainer {
    background-color: rgba(255, 0, 0, 0);
}
.edit-options-container {
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
}
.edit-options {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    gap: 4px;
    background-color: rgba(255, 0, 0, 0);
}
.edit-option {
    font-family: Univers Regular;
    font-size: 16px;
    cursor: pointer;
    color: #afcbd3;
    background-color: rgba(255, 0, 0, 0);
}
.edit-option:hover {
    color: #70ACBF;
    text-decoration: underline;
}
.edit-button {
    position:fixed;
    cursor: pointer;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    background-color: #70ACBF;
    border: 2px solid #70ACBF;
    top: calc(100vh - 68px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus {
    background-color: #70adbf00;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 0 0;
    padding: 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
    cursor: pointer;
}




.popup-content {
    background-color: #00000000;
    border: none;
    margin: 0;
    padding: 0;
    width: 500px;
}
.popup-overlay {
    background-color: #70adbfbb;
}
.upload-new-cool {
    margin: 0 0 1vh 0;
    font-family: Univers Bold;
    font-size: 35px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.index-page-center {
    background-color: #00000000;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.inputs {
    margin-top: 2vh;
    background-color: white;
    width: 80%;
}
.upload-form {
    background-color: white;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
    width: 500px;
}
.upload-button {
    background-color:white;
    color: #0000007f;
    border: px solid #0000007f;
    border-radius: 2px;
    font-family: Univers Bold;
    font-size: 16px;
    height: 32px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin-top: 1vh;
}
.upload-button:hover {
    background-color: #70ACBF;
    color: white;
    border: 2px solid #70ACBF;
}
.upload-button:disabled {
    color: #00000026;
    border: 2px solid #00000026;
    cursor: not-allowed;
    background-color: white;
}
.upload-new-label {
    color: black;
    font-family: Univers Bold;
    margin-bottom: 4px;
    font-size: 14px;
    background-color: white;
    text-align: left;
}
textarea {
    border: 2px solid #0000007f;
    border-radius: 2px;
    font-family: Univers Regular;
    font-size: 14px;
}
select {
    background-color: white;
    font-family: Windsor;
    font-size: 24px;
    color: black;
    border-radius: 2px;
    padding: 5px;
}
.upload-new-input {
    background-color: white;
    font-size: 14px;
    color: black;
    border: 1px solid #0000007f;
}
#cover-image {
    border: 1px dashed #0000007f;
    padding: 5px;
}
.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
}
.close {
    background-color: white;
    color: #0000007f;
    margin-top: 2vh;
    cursor: pointer;
    font-size: 14px;
}
.close:hover {
    color: black;
    text-decoration: underline;
}
.x-button {
    color: #0000007f;
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 14px;
    font-family: Univers Regular;
    cursor: pointer;
}
.x-button:hover {
    color: black;
}