.cool-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.673);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popUpContainer {
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 10vw;
    top: 10vh;
    display: flex;
    flex-direction: row;
}
.image-wrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
}
.popup-image {
    max-width: 100%;
    max-height: 100%;
}
.popup-notes-link {
    color: black;
    width: 40vw;
    height: 70vh;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: scroll;
}
.popup-date {
    font-family: Univers Cn Regular;
    color: #a5a5a5;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 10px;
    text-align: left;
    width: 100%;
    margin-bottom: 3px;
}
.popup-title {
    color: black;
    font-family: Univers Bold;
    font-size: 24px;
}
.popup-notes {
    color: black;
    font-family: Univers Regular;
    background-color: rgba(255, 0, 0, 0);
    font-size: 16px;
}
.popup-link {
    color: black;
    font-family: Univers Regular;
    background-color: rgba(255, 0, 0, 0);
    font-size: 14px;
    text-decoration: underline;
}
.popup-link:hover {
    color: #70ACBF;
}

@media only screen and (max-width: 876px) {
    .popUpContainer {
        width: 80vw;
        height: 80vh;
        position: fixed;
        left: 10vw;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-wrapper {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(211, 211, 211);
    }
    .popup-notes-link {
        color: black;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        height: 60vh;
        overflow: scroll;
    }
}