.Vibe {
    display: flex;
    justify-content: center;
}
.vibe-page {
    background-color: white;
    position: absolute;
    z-index: 0;
    padding: 10vh 0 10vh 0;
    width: 80vw;
}
.vibe-header {
    display: flex;
    flex-direction: row;
}
.vibe-title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vibe-image {
    object-fit: cover;
    border-radius: 8px;
}
.vibe-title {
    color: black;
    font-family: Windsor;
    background-color: white;
    margin-bottom: 4px;
    margin-top: 0;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.vibe-description {
    color: black;
    font-family: Univers Regular;
}
.vibe-date {
    font-family: Univers Cn Regular;
    color: #a5a5a5;
}
@media only screen and (max-width: 1500px) {
    .vibe-title-desc {
        width: calc(80vw - 240px - 40px);
        height: 240px;
    }
    .vibe-header {
        gap: 40px;
    }
    .vibe-title {
        font-size: 70px;
        margin-bottom: 18px;
    }
    .vibe-description {
        font-size: 20px;
        margin-bottom:  18px;
    }
    .vibe-date {
        font-size: 18px;
    }
    .vibe-image {
        width: 240px;
        height: 240px;
    }
    .vibe-page {
        width: 80vw;
    }
    iframe {
        width: 80vw;
    }
}
@media only screen and (max-width: 1200px) {
    .vibe-title-desc {
        width: calc(80vw - 200px - 30px);
        height: 200px;
    }
    .vibe-header {
        gap: 30px;
    }
    .vibe-title {
        font-size: 55px;
        margin-bottom: 15px;
    }
    .vibe-description {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .vibe-date {
        font-size: 18px;
    }
    .vibe-image {
        width: 200px;
        height: 200px;
    }
    .vibe-page {
        width: 80vw;
    }
    iframe {
        width: 80vw;
    }
}
@media only screen and (max-width: 900px) {
    .vibe-title-desc {
        width: calc(80vw - 160px - 20px);
        height: 160px;
    }
    .vibe-header {
        gap: 20px;
    }
    .vibe-title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .vibe-description {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .vibe-date {
        font-size: 14px;
    }
    .vibe-image {
        width: 160px;
        height: 160px;
    }
    .vibe-page {
        width: 80vw;
    }
    iframe {
        width: 80vw;
    }
}
@media only screen and (max-width: 600px) {
    .vibe-title-desc {
        width: calc(90vw - 120px - 15px);
        height: 120px;
    }
    .vibe-header {
        gap: 15px;
    }
    .vibe-title {
        font-size: 34px;
        margin-bottom: 8px;
    }
    .vibe-description {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .vibe-date {
        font-size: 14px;
    }
    .vibe-image {
        width: 120px;
        height: 120px;
    }
    .vibe-page {
        width: 90vw;
    }
    iframe {
        width: 90vw;
    }
}
.bottom-menu-container {
    height: fit-content;
    position: absolute;
    bottom: 0;
}