body {
    margin: 0 0;
}
* {
    background-color: black;
    color: white;
}
.page {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: justify;
    z-index: 1000;
}
.wvc {
    font-family: Windsor;
    font-size: 38px;
    text-align: center;
    margin-top: 0;
}
h2 {
    font-family: Univers Cn Regular;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: Windsor;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.earth {
    width: 360px;
    height: 360px;
    background-image: url(../images/earth.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    margin: 4vh 0 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    background-color:#70ACBF;
    text-decoration: none;
}
.corner-buttons-container {
    background-color: #70adbf00;
}
.corner-buttons {
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    display: flex;
    position: absolute;
    background-color: #70adbf00;
    padding: 15px;
    flex-wrap: wrap;
}
.corner-button {
    font-family: Univers Bold;
    margin: 0 0;
    background-color: #70adbf00;
    color: #ffffff89;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.corner-button.top-left {
    width: 50%;
}
.corner-button.top-right {
    margin-left: auto;
    text-align: right;
}
.corner-button.bottom-left {
    width: 50%;
    margin-top: auto;
}
.corner-button.bottom-right {
    margin-left: auto;
    margin-top: auto;
    text-align: right;
}
.corner-button:hover {
    color: white;
}
.show-menu {
    position: absolute;
    color: #ffffff89;
    cursor: pointer;
    left: 50%;
    top: 15px;
    z-index: 1000;
    font-size: 22px;
}
.show-menu:hover {
    color: white;
}
.edit {
    position: absolute;
    color: #ffffff89;
    cursor: pointer;
    left: 50%;
    bottom: 15px;
    z-index: 1000;
    font-size: 24px;
}
.edit:hover {
    color: white;
}
@font-face {
    font-family: Windsor;
    src: url(../fonts/Windsor\ Regular.ttf);
}

@font-face {
    font-family: Univers Regular;
    src: url(../fonts/univers/UniversRegular.ttf);
}

@font-face {
    font-family: Univers Bold;
    src: url(../fonts/univers/UniversBold.ttf);
}

@font-face {
    font-family: Univers Cn Regular;
    src: url(../fonts/univers/UniversCnRg.ttf);
}

@font-face {
    font-family: Monaco;
    src: url(../fonts/Monaco.ttf);
}