.Cover {
    background-color: black;
    width: 100vw;
    height: 100vh;
}
body {
    background-color: black;
    margin: 0 0;
}
* {
    color: white;
}
.page {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: justify;
}
.wvc {
    font-family: Windsor;
    font-size: 38px;
    text-align: center;
    margin-top: 0;
}
.access-to {
    font-family: Univers Cn Regular;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: Windsor;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.earth {
    width: 360px;
    height: 360px;
    background-image: url(../images/earth.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    margin: 4vh 0 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    background-color:#70ACBF;
    text-decoration: none;
}
@font-face {
    font-family: Windsor;
    src: url(../fonts/Windsor\ Regular.ttf);
}

@font-face {
    font-family: Univers Regular;
    src: url(../fonts/univers/UniversRegular.ttf);
}

@font-face {
    font-family: Univers Bold;
    src: url(../fonts/univers/UniversBold.ttf);
}

@font-face {
    font-family: Univers Cn Regular;
    src: url(../fonts/univers/UniversCnRg.ttf);
}

@font-face {
    font-family: Monaco;
    src: url(../fonts/Monaco.ttf);
}