body {
    background-color: black;
    margin: 0 0;
}
* {
    color: white;
}
.page {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: justify;
}
.wvc {
    font-family: Windsor;
    font-size: 38px;
    text-align: center;
    padding-top: 1vh;
    font-weight: normal;
}
.access-to {
    font-family: Univers Cn Regular;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
h3 {
    font-family: Windsor;
    font-size: 20px;
    margin: 0 0;
    font-weight: normal;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-earth {
    width: 360px;
    height: 360px;
    background-color: #70ACBF;
    border-radius: 100%;
    margin: 4vh 0 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.earth {
    width: 350px;
    height: 350px;
    background-image: url(../images/earth.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    margin: 3vh 0 7vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-word {
    background-color: #70ACBF;
    font-size: 24px;
}
form {
    font-family: Univers Regular;
    background-color:#70ACBF;
}
label {
    background-color:#70ACBF;
    font-size: 12px;
    font-weight: bold;
}
input {
    background-color:#96c2cf;
    border:#70ACBF;
    height: 26px;
    border-radius: 2px;
    outline: none;
    font-family: Univers Regular;
    margin-bottom: 5px;
    font-size: 12px;
}
.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70ACBF;
    margin-top: 10px;
}
.submit {
    background-color:#70ACBF;
    border: 2px solid #96c2cf;
    border-radius: 2px;
    font-family: Univers Bold;
    font-size: 14px;
    height: 26px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.submit:hover {
    background-color: white;
    color: #70ACBF;
    border: 2px solid white;
}
a {
    background-color:#70ACBF;
    text-decoration: none;
}
.login-or-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.already-have {
    margin-top: 10px;
    font-size: 12px;
    font-family: Univers Regular;
    text-align: center;
}
.switch-to-login {
    text-decoration: underline;
    cursor: pointer;
}
.switch-to-login:hover {
    color: #0000007f;
}
@font-face {
    font-family: Windsor;
    src: url(../fonts/Windsor\ Regular.ttf);
}

@font-face {
    font-family: Univers Regular;
    src: url(../fonts/univers/UniversRegular.ttf);
}

@font-face {
    font-family: Univers Bold;
    src: url(../fonts/univers/UniversBold.ttf);
}

@font-face {
    font-family: Univers Cn Regular;
    src: url(../fonts/univers/UniversCnRg.ttf);
}

@font-face {
    font-family: Monaco;
    src: url(../fonts/Monaco.ttf);
}